<!DOCTYPE html>
<html lang="en" ng-app="exercise3">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <script src="../../angular.js"></script>
    <script src="lib/ex3.js"></script>
    <link href="../../bootstrap.css" rel="stylesheet">
    <link href="../../bootstrap-theme.css" rel="stylesheet">
    <link href="css/noteStyles.css" rel="stylesheet">
</head>
<body ng-controller="noteCtrl">
        <nav class="myMenu">
            <button class="myBtn btn-lg" ng-click="newNote()">New Note</button>
            <button class="myBtn btn-lg" ng-click="eraseNotes()">Erase All</button>
        </nav>
    <div id="noteContainer" start-notes></div>
</body>
</html>